*.pass
*.pyc
debugging
prototyping
user_reports
trash
README.html
layers/layers
layers/python
lambda/parametrize-API-requests/.ipynb_checkpoints
lambda/http-request/.ipynb_checkpoints/
lambda/http-request/external_modules/.ipynb_checkpoints/
dynamoDB/dou_captured_urls.json
dynamoDB/douDB_captured_urls.json
dynamoDB/caraacara_log.json
